@charset "UTF-8";

/* ---- 自分がWeb制作する時のおまじない的なスタイル ここから ---- */

/* box-sizingの参考サイト */
/* http://phiary.me/css3-box-sizing/ */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

img {
  max-width: 100%; /* これがないと画像がでかいときに親要素をはみ出してしまう */
}

/* ---- 自分がWeb制作する時のおまじない的なスタイル ここまで ---- */

header{
	background-color: white;
	position: fixed;
	width: 100%;
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

header .header-top{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 35px;
	background-color: black;
}

header .header-top p{
	font-size: 12px;
	color: #AD9978;
	margin-bottom: 0;
	padding-top: 3px;
	padding-left: 10px;
}

.header-top-icon-left img{
	height: 14px;
	padding-left: 10px;
}

.header-top-icon-right img{
	height: 8px;
	padding-left: 10px;
}

.header-under{
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}

header .main-logo{	
	width: 160px;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-bottom: 0px;
}

header .main-logo h1{	

}

header .hm-menu{
	max-width: 20px;
}

header .hd-sarch ul{
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
	padding: 0;
}

header .hd-sarch ul li {
	list-style:none;
}

header .hd-sarch ul li a{
	padding-left: 12px;
}

header .hd-sarch img{
	height: 29px;
}

/*<section class="main">*/
.images-box {
	display: flex;
	flex-wrap: wrap;
	width: 96.5%;
	margin: 0 auto;
	padding-top: 152px;
}

.images-box .left-box, .right-box {
  width: 50%;
}

.images-box .left-box {
  padding: 10px;
}

.images-box .right-top-box, .images-box .right-bottom-box {
  display: flex;
  flex-wrap: wrap;
}

.images-box .right-top-box>*, .images-box .right-bottom-box>* {
  width: 50%;
  font-size: 0; /* font-sizeを0にしないとなぜか余白ができる */
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .images-box .left-box, .right-box {
    width: 100%;
  }

  .images-box .right-top-box>*, .images-box .right-bottom-box>* {
    width: 100%;
  }
}

/*section new*/
.news-content{
}

.news-content h2{
	margin: 50px 0px 10px 0px;
	font-size: 32px;
}

#news-content-new p{
	font-size: 16px;
}

.news-content h3{
	font-family: impact;
	font-size: 15px;
	margin-bottom: 2px;
	padding-top: 5px;
}

.news-content p{
	margin-bottom: 30px;
	font-size: 12px;
}

.news-content ul li{
	list-style: none;
}

.item-box{
	display: flex;
	justify-content: center;
	width: 85%;
	margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .item-box {
    width: 90%;
    max-width: 90%;
  }
}

.news-content h2,.news-content p{
	text-align: center;
	text-transform: uppercase;
}

.item-box ul{
    display: flex;
    flex-wrap:wrap;
    padding-left: 0px;
}

.item-box ul li{
    width: 25%;
    max-width: 25%;
    padding: 0 8px;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .item-box ul li {
    width: 50%;
    max-width: 50%;
  }
}

.item-box img{
	border: 1px solid #D9D9D9;
}

.item-box p{
	text-align: left;
    margin: 0px;
}

/*section PICKUP ITEM*/
.pickpick{
	background-color: #F7F7F7;
	padding-top: 70px;
	padding-bottom: 70px;
}

.pickpick-title{
	padding-bottom: 30px;
}

.pickpick-title p{
	font-size: 10px;
}

.instagram_b-size{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
}

.instagram_b-size img{
	height: 25px;
	padding-right: 15px;
	margin-bottom: 0px;
}

.pickpick h2{
	text-align: center;
	text-transform: uppercase;
	font-family: impact;
}

.pickpick p{
	text-align: center;
	text-transform: uppercase;
}

.instagram-box{
	width: 95%;
	margin: 0 auto;
}

.instagram-box ul{
    display: flex;
	flex-wrap:wrap;
     padding-left: 0px;
    margin-bottom: 0px;
}

.instagram-box ul li{
	list-style: none;
    width: 25%;
    max-width: 25%;
}

.click-more{
	margin: 40px 13px;
}

.click-more-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 300px;
	height: 52px;
	border: 1px solid #D9D9D9;
}

.click-more-inner a{
	font-family: impact;
	font-size: 14px;
	color: black;
}

.others{
	
}

.others-inner{
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: 0 auto;
	padding: 100px 0px 40px 0px;
}

.others-banar{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 238px;
	height: 60px;
	border: 1px solid #D9D9D9;
}

.others-inner img{
	height: 58px;
}

footer{
	background-color: black;
}

.top-back-inner{

}

.top-back{
	display: flex;
	justify-content: center;
	padding: 23px 0px;
}

.sns-icon{
	border-top: 1px solid #808080;
}

.sns-icon-inner{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	margin: 0 auto;
	padding: 25px 0px;
}

.sns-icon img{
	height: 20px;
}

.footer-menu{
	border-top: 1px solid #808080;
}
.footer-menu-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 12px;
}

.footer-menu-inner p{
	margin-bottom: 0;
}

#footer-about,#footer-shop,#footer-news,#footer-my{
	text-align: center;
	height: 75px;
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-shop{
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

#footer-news{
	border-right: 1px solid #808080;
}

.footer-info{
	border-top: 1px solid #808080;
}

.footer-info-inner{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	font-size: 12px;
	width: 800px;
	margin: 0 auto;
	padding: 30px 0px;
}

.footer-info-inner p{
	margin-bottom: 0;
}

.copyright{
	text-align: center;
	color: white;
	font-size: 12px;
	padding-bottom: 30px;
}
